.post{
  width: 550px;
  margin: 30px 50px 40px;
}

.post__header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.post__headerAuthor{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
}

.post__headerAuthor > span {
  color: grey;
  font-size: 15px;
  margin-left: 10px;
}

.post__image > img{
  width: 100%;
  height: 600px;
  border-radius: 6px;
  border: 0.6px solid rgba(128, 128, 128, 0.516)
}


.post__footerIcons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.post__footerLikes{
  margin-left: 5px;
}

.post__footerLikes:hover{
  cursor: pointer;
  color: gray;
}

.postIcon{
  padding: 5px;
  font-size: 30px;
}

.postIcon:hover{
  cursor: pointer;
  color: gray;
}

.avatar{
  margin-right: 10px;
}

.post__footerMessage {
  margin-left: 5px;
}

.post__footerMessage > span {
  font-weight: bolder;
  margin-right: 5px;
}

.readMore__button{
  color:gray;
  font-size: 15px;
  background: 0;
  border: 0;
}

.readMore__button:hover{
  cursor: pointer;
}

.post__footerReply:hover{
  cursor: pointer;
}